*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../hands.jpg);
  height: 100vh;
  bakcground-size: cover;
  background-position:  center;
}

ul{
  float: right;
  list-style: none;
  margin-top: 25px
}
ul li{

  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: #ff0000;
  color: #000;

}
ul li.active a{
  background-color: #ff0000;
  color: #000;
}

.logo img{
  float: left;
  width: 150px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;

}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title h5{
  color: #ECF0F1;
  font-size: 50px;
  font-style: oblique;
}

.button{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
  border: 1px solid #000;
  padding: 10px 30px;
  color: #000;
  text-decoration: none;
  transition: 0.9 ease;
}
.btn:hover{
  background-color: #fff;
  color: #000;

}
